<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Henrique's Digital{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="top-nav">
        <a href="{{ url_for('index') }}">Início</a>
        <a href="{{ url_for('catalogo') }}">Catálogo</a>
        <a href="{{ url_for('quiz') }}">Quiz</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
